/* styles.css */

/* Define the border rotation animation */
@keyframes rotateBorder {
  0% {
    border-top-color: white;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  33.33% {
    border-top-color: transparent;
    border-right-color: white;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  66.66% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: white;
  }
  100% {
    border-right-color: transparent;
    border-right-color: transparent;
    border-left-color: white;
    border-bottom-color: transparent;
  }
}

/* Apply the animation to the button */
.rotate-border {
  background-color: rgba(244, 244, 244, 0.3);
  font-weight: bold;
  animation: rotateBorder 4s linear infinite; /* Apply the rotation animation */
}

